<launch>
  <master auto="start"/>

  <arg name="tf_prefix" default="i3e_d3"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find i3e-d3_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find i3e-d3_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find i3e-d3_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find i3e-d3_navigation)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find i3e-d3_navigation)/config/teb_local_planner_params.yaml" command="load" />

    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="5.0" />

    <remap from="odom" to="odometry/filtered" />
    <remap from="map" to="/map"/>

  </node>

  <rosparam param="move_base/global_costmap/obstacles_layer/scan/sensor_frame" subst_value="True">$(arg tf_prefix)/3irobotix_lidar</rosparam>
  <rosparam param="move_base/global_costmap/global_frame" subst_value="True">$(arg tf_prefix)/odom</rosparam>
  <rosparam param="move_base/global_costmap/robot_base_frame" subst_value="True">$(arg tf_prefix)/base_footprint</rosparam>

  <rosparam param="move_base/local_costmap/obstacles_layer/scan/sensor_frame" subst_value="True">$(arg tf_prefix)/3irobotix_lidar</rosparam>
  <rosparam param="move_base/local_costmap/global_frame" subst_value="True">$(arg tf_prefix)/odom</rosparam>
  <rosparam param="move_base/local_costmap/robot_base_frame" subst_value="True">$(arg tf_prefix)/base_footprint</rosparam>

</launch>
