<?xml version="1.0"?>
<!-- Open_Manipulator Chain -->
<robot name="i3e-d3_open_manipulator" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <!--xacro:include filename="$(find i3e-d3_manipulation)/urdf/materials.xacro" /-->

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find i3e-d3_manipulation)/urdf/open_manipulator.gazebo.xacro" />

  <!-- Import Transmission -->
  <xacro:include filename="$(find i3e-d3_manipulation)/urdf/open_manipulator.transmission.xacro" />

  <!-- Import URDF -->
  <xacro:include filename="$(find i3e-d3_manipulation)/urdf/open_manipulator.urdf.xacro" />

  <!-- Import I3E-D3 -->
  <xacro:include filename="$(find i3e-d3_description)/urdf/i3e-d3.urdf.xacro" />

  <!-- World fixed joint-->
  <joint name="world_fixed" type="fixed">
    <origin xyz="0.0 -0.2 0.25" rpy="${PI} 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="link1"/>
  </joint>

</robot>
