<?xml version="1.0"?>
<launch>

  <arg name="imu_topic" default="imu/data_filtered"/>

  <node name="mpu_node" pkg="mpu6050_driver" type="mpu6050_node" output="screen">
    <rosparam file="$(find i3e-d3_bringup)/config/mpu_settings.yaml" command="load"/>
  </node>

  <node name="imu_filter_node" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen">
    <rosparam file="$(find i3e-d3_bringup)/config/madgwick_filter_params.yaml" command="load"/>
    <remap from="imu/data" to="$(arg imu_topic)"/>
  </node>

</launch>
