<?xml version="1.0"?>
<launch>

  <arg name="rviz_config" default="$(find i3e-d3_viz)/rviz/i3e_d3.rviz"/>

  <!--param name="robot_description" command="$(find xacro)/xacro.py $(find i3e-d3_manipulation_description)/urdf/i3e-d3_manipulation_robot.urdf.xacro"/-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find i3e-d3_description)/urdf/i3e-d3.urdf.xacro'"/>
  
  <!-- Run I3E-D3 functionalities -->
  <include file="$(find i3e-d3_gazebo)/launch/spawn_i3e-d3.launch"/>
  <include file="$(find i3e-d3_navigation)/launch/hector_mapping.launch"/>
  <include file="$(find i3e-d3_navigation)/launch/teb_planner.launch"/>

  <!-- Run the Rviz -->
  <include file="$(find i3e-d3_viz)/launch/view_robot.launch">
    <arg name="rviz_config" value="$(arg rviz_config)"/>
  </include>

</launch>
