<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$(find i3e-d3_navigation)/maps/jackal_race.yaml"/>
  <arg name="rviz_config" default="$(find i3e-d3_viz)/rviz/i3e_d3.rviz"/>
  <arg name="use_rviz" default="true"/>
  <arg name="use_map" default="true"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find i3e-d3_description)/urdf/i3e-d3.urdf.xacro'"/>  
  
  <!-- Run I3E-D3 functionalities -->
  <include file="$(find i3e-d3_gazebo)/launch/spawn_i3e-d3.launch"/>
  <include file="$(find i3e-d3_control)/launch/start_joy_control.launch"/>
  
  <group if="$(arg use_map)">
    <!-- Run the map server -->
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>
    <include file="$(find i3e-d3_navigation)/launch/amcl.launch"/>
  </group>

  <group if="$(arg use_rviz)">
    <!-- Run the Rviz -->
    <include file="$(find i3e-d3_viz)/launch/view_robot.launch">
      <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>
  </group>

</launch>
