<?xml version="1.0"?>
<launch> <!-- Use this file as a template to make your own launch file -->

  <include file="$(find i3e-d3_launchs)/launch/main.launch">
    <arg name="use_rviz" value="true"/> <!-- true / false -->
    <arg name="rviz_config" value="$(find i3e-d3_viz)/rviz/i3e_d3.rviz"/> <!-- choose a config -->
    <arg name="use_map" value="false"/> <!-- true / false -->
    <arg name="map_file" value="$(find i3e-d3_navigation)/maps/playpen_map.yaml"/> <!-- choose a map -->
    <arg name="use_teleoperation" value="false"/> <!-- true / false -->
    <arg name="teleop" value="joy"/> <!-- joy -->
    <arg name="use_amcl" value="false"/> <!-- true / false -->
    <arg name="use_slam" value="true"/> <!-- true / false -->
    <arg name="slam_type" value="hector_slam"/> <!-- hector_slam / gmapping -->
    <arg name="use_navigation" value="true"/> <!-- true / false -->
    <arg name="planner" value="teb_planner"/> <!-- teb_planner -->
    <arg name="use_exploration" value="true"/> <!-- true / false -->
  </include>

</launch>
