<?xml version="1.0"?>
<launch>
    
    <arg name="robot_namespace" default="i3e_d3"/>

    <group ns="$(arg robot_namespace)">
        <!-- Joy node -->
        <node pkg="joy" type="joy_node" name="i3e_d3_joy" respawn="true">
            <param name="dev" type="string" value="/dev/input/js0"/>
            <param name="deadzone" value="0.12"/>
        </node>

        <!-- Axes and buttons -->
        <param name="reverse_button" value="11" type="int"/>
        <param name="stop_button1" value="4" type="int"/>
        <param name="stop_button2" value="5" type="int"/>
        <param name="turbo_button" value="2" type="int"/>
        <param name="slow_button" value="0" type="int"/>
        <param name="axis_linear" value="1" type="int"/>
        <param name="axis_angular" value="0" type="int"/>
        <param name="scale_linear" value="1.5" type="double"/>
        <param name="scale_angular" value="1.5" type="double"/>

        <node pkg="i3e-d3_control" type="joy_teleop" name="teleop"/>
    </group>
    
</launch>
