<?xml version="1.0"?>
<launch>
  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find i3e-d3_control)/config/control.yaml"/>

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="i3e_d3_velocity_controller 
              i3e_d3_joint_publisher"/>

  <!-- Convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>    
    
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Start EKF -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
    <rosparam command="load" file="$(find i3e-d3_control)/config/ekf_localization.yaml" />
  </node>

  <!-- Twist Multiplexer -->
  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam file="$(find i3e-d3_control)/config/twist_mux.yaml" command="load"/>
    <remap from="cmd_vel_out" to="i3e_d3_velocity_controller/cmd_vel"/>        
  </node>

  <!-- Include manipulator controller configuration and spawner -->
  <include file="$(find i3e-d3_manipulation_control)/launch/i3e-d3_manipulation_controller.launch" />
  

</launch>