<?xml version="1.0"?>
<launch>
    <include file="$(find i3e-d3_gazebo)/launch/i3e-d3_playpen.launch"/>
    <include file="$(find i3e-d3_navigation)/launch/gmapping.launch"/>
    <include file="$(find i3e-d3_navigation)/launch/move_base.launch"/>
    <include file="$(find i3e-d3_viz)/launch/view_robot.launch">
        <arg name="rviz_config" default="$(find i3e-d3_viz)/rviz/navigation.rviz"/>
    </include>
</launch>
