<?xml version="1.0"?>
<launch>

    <arg name="map_file" default="$(find i3e-d3_navigation)/maps/jackal_race.yaml"/>
    <arg name="rviz_config" default="$(find i3e-d3_viz)/rviz/teb.rviz"/>
    
    <include file="$(find i3e-d3_gazebo)/launch/i3e-d3_jackal_world.launch"/>
    <include file="$(find i3e-d3_navigation)/launch/teb_planner.launch"/>
    <include file="$(find i3e-d3_viz)/launch/view_robot.launch">
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>
    <include file="$(find i3e-d3_navigation)/launch/amcl.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>
    
</launch>
