<?xml version="1.0"?>
<launch>

  <arg name="robot1_ns" default="i3e_d3"/>
  <arg name="map_file" default="$(find i3e-d3_navigation)/maps/playpen_map.yaml"/>
  <arg name="rviz_config" default="$(find i3e-d3_viz)/rviz/i3e_d3.rviz"/>

  <!--param name="robot_description" command="$(find xacro)/xacro.py $(find i3e-d3_manipulation_description)/urdf/i3e-d3_manipulation_robot.urdf.xacro"/-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find i3e-d3_description)/urdf/i3e-d3.urdf.xacro'"/>

  <!-- Run the map server -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
  </node>

  
  
  <!-- BEGIN ROBOT 1-->
  <group ns="$(arg robot1_ns)"> <!-- Need to use tf_prefix in URDF file -->
    <param name="tf_prefix" value="$(arg robot1_ns)" />
    <include file="$(find i3e-d3_gazebo)/launch/spawn_i3e-d3.launch"/>
    <!--include file="$(find i3e-d3_navigation)/launch/amcl.launch"/-->
    <!--include file="$(find i3e-d3_navigation)/launch/teb_planner.launch"/-->
    <include file="$(find open_manipulator_control_gui)/launch/open_manipulator_control_gui.launch"/>
  </group>

  <!-- Run the Rviz -->
  <include file="$(find i3e-d3_viz)/launch/view_robot.launch">
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="namespace" default="i3e_d3"/>
  </include>

</launch>
