<?xml version="1.0"?>
<launch>
    <arg name="namespace" default="i3e_d3"/>
    <arg name="robot_name" default="i3e_d3"/>
    <arg name="init_pose" default="-x 0 -y 0 -z 0.5"/>
    
    <node name="i3e_d3_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          respawn="false" args="$(arg init_pose) -urdf -param /robot_description 
                                -model $(arg robot_name)" />
          
    <!-- Include control launch -->
    <include file="$(find i3e-d3_control)/launch/start_control.launch">
        <arg name="namespace" value="$(arg namespace)"/>
    </include>

</launch>
